<div class="component-inner imagegrid-inner" role="region" aria-label="{{_globals._components._imagegrid.ariaRegion}}" {{#if _globals._components._imagegrid.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    <div class="component-widget imagegrid-widget">

        <div class="imagegrid-grid">
            <div class="imagegrid-grid-inner clearfix">

                {{#each _items}}
                <div class="imagegrid-grid-item {{_itemClasses}}">
                    
                    <div class="base imagegrid-item-image" aria-label="{{#if _graphic.title}}{{_graphic.title}}.{{/if}}{{#if _graphic.alt}} {{_graphic.alt}}.{{/if}}{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
                        <img src="{{_graphic.src}}"/>
                    </div>

                    {{#if _graphic.title}}
                    <div class="imagegrid-item-title">
                    	<div class="imagegrid-item-title-inner">
                    		{{{_graphic.title}}}
                    	</div>
                    </div>
                    {{/if}}

                </div>
                {{/each}}

            </div>
        </div>

    </div>
</div>
